<h1>Betrayal</h1>
  <p>A RPG game based on <em>Betrayal at the House on the Hill</em>.</p>

<div id="game-stage"></div>

<button id="btn-join">Join</button>
<button id="btn-speed-inc">Speed +</button>
<button id="btn-speed-dec">Speed -</button>
