<style>
</style>
<div class="main">
  <div class="wrapper">
    <div id="header" class="header center hidden">
      <img src="images/game/title_image.png" class="header-img">
    </div>

    <div id="game-pane" class="hidden" style="height:512px;" align="center">
      <div id="player-pane" class="player-pane">
        <div id="player-list">
        </div>
      </div>
      <div id="game-stage" style="display:inline-block; vertical-align: top"></div>
      <div id="chatroom" class="chatroom">
        <div id="message-list" class="messages" style="overflow-y:scroll; height: 93%; background-color: white; opacity: 0.6; padding: 3px" align="left">
        </div>
        <div class="chatroom-controls">
          <form id="form-send-message" class="form-inline">
            <input id="ipt-message" name="message" class="form-control" name="message" type="text">
            <button id="btn-send-message" class="btn btn-default" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <div id="splash-screen" class="center splash-screen">
      <img style="display: block; margin: auto;" src="images/game/intro_image.png">
    </div>

    <div id="join-pane" align="center" class="center" style="width: 100%">
      <div id='join-options' style="display: inline-block">
        <button id="btn-goto-new" class="btn btn-default form-spaced">Create new game</button>
        <button id="btn-goto-existing" class="btn btn-default form-spaced">Join existing game</button>
      </div>
      <form id='form-join-existing' class="hidden form-inline" style="display: inline-block">
        <input name="playerName" type="text" class="form-control" placeholder="player name">
        <select id="select-game" name="gameID" class="form-control" style="width: 150px"></select>
        <button id="btn-join" type="submit" class="btn btn-primary" disabled="disabled">Join</button>
        <button type="button" class="btn btn-default cancel">Cancel</button>
      </form>
      <form id='form-join-new' class= "hidden form-inline" style="display: inline-block">
        <input name="playerName" type="text" class="form-control" placeholder="player name">
        <input name="gameName" type="text" class="form-control" placeholder="new game name">
        <button id="btn-create-game" type="submit" class="btn btn-primary">Create Game</button>
        <button type="button" class="btn btn-default cancel">Cancel</button>
      </form>
    </div>
  </div>
</div>
