<h1>Betrayal</h1>
  <p>A RPG game based on <em>Betrayal at the House on the Hill</em>.</p>

<div id="game-stage"></div>

<input id="ipt-name" type="text">
<button id="btn-join">Join</button>
<button id="btn-speed-inc">Speed +</button>
<button id="btn-speed-dec">Speed -</button>
<br>
<input id="ipt-game-name" type="text">
<button id="btn-create-game">Create Game</button>
