<style>
</style>
<div class="main">
  <div class="wrapper">
    <div id="header" class="header center hidden">
      <img src="images/game/title_image.png" class="header-img">
    </div>

    <!-- How to play -->
    <div class="tutorial modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">How to play</h3>
          </div>
          <div class="modal-body">
            <%- include howtoplay.ejs %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="game-pane" class="hidden" style="height:512px;" align="center">
      <div id="player-pane" class="player-pane">
        <div id="player-list">
        </div>
      </div>
      <div id="game-container" class="game-pane">
        <div id="game-stage" class="game-containted"></div>
        <div class="game-contained">
          <div id="overlay-stack" class="overlay-container overlay-game-container"></div>
          <div id="omni-box" class="omni-box" style="display: none">
            <div class="message-input">
              <form id="form-send-message">
                <input id="ipt-message" name="message" type="text">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="chatroom" class="chatroom">
        <div id="game-start" class="hidden game-start">
          <button id="btn-game-start" class="btn btn-success">Start Game</button>
        </div>

        <div id="game-leave" class="game-leave">
          <button id="btn-game-leave" class="btn btn-danger">Leave Game</button>
        </div>

        <div class="show-instructions">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#tutorialModal">How to play</button>
        </div>

        <div class="options-sound btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="sound" id="ipt-soundon" autocomplete="off" checked><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> Sound On</input>
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="sound" id="ipt-soundoff" autocomplete="off"><span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span> Sound Off</input>
          </label>
        </div>

        <div class="mini-map">
          <canvas id="mini-map"></canvas>
        </div>

        <div id="chat-stack" class="overlay-container overlay-chat-container"></div>
      </div>
    </div>

    <div id="splash-screen" class="center splash-screen">
      <img style="display: block; margin: auto;" src="images/game/intro_image.png">
    </div>

    <div id="join-pane" align="center" class="center join-pane">
      <div id='join-options' style="display: inline-block">
        <button id="btn-goto-new" class="btn btn-default form-spaced">Create new game</button>
        <button id="btn-goto-existing" class="btn btn-default form-spaced">Join existing game</button>
        <button type="button" class="btn btn-default form-spaced" data-toggle="modal" data-target="#tutorialModal">How to play</button>
      </div>
      <form id='form-join-existing' class="hidden form-inline" style="display: inline-block">
        <input name="playerName" type="text" class="form-control" placeholder="player name">
        <select id="select-game" name="gameID" class="form-control" style="width: 150px"></select>
        <button id="btn-join" type="submit" class="btn btn-primary" disabled="disabled">Join</button>
        <button type="button" class="btn btn-default cancel">Cancel</button>
        <div class="alert alert-danger invisible" style="display: none" role="alert">...</div>
      </form>
      <form id='form-join-new' class= "hidden form-inline" style="display: inline-block">
        <input name="playerName" type="text" class="form-control" placeholder="player name">
        <input name="gameName" type="text" class="form-control" placeholder="new game name">
        <button id="btn-create-game" type="submit" class="btn btn-primary">Create Game</button>
        <button type="button" class="btn btn-default cancel">Cancel</button>
        <div class="alert alert-danger invisible" role="alert">...</div>
      </form>
    </div>
  </div>
</div>
