<style>
  body {
    background-image: url('http://darkcreationsatx.com/wp-content/uploads/2012/10/spooky-woods.jpg');
  }
  .hidden {
    display: none;
  }
  .invisible {
    visibility: hidden;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  img {
      height: auto;
      width: auto;
  }
  img.full_heart {
    content:url("images/game/full_heart.png");
  }
  img.empty_heart {
    content:url("images/game/empty_heart.png");
  }
  img.small_lightning {
    content:url("images/game/small_lightning.png");
  }
  img.small_sword {
    content:url("images/game/small_sword.png");
  }
  img.small_jewel {
    content:url("images/game/small_jewel.png");
  }
  img.small_key {
    content:url("images/game/small_key.png");
  }
  .player-list-item {
    width: 140;
    padding: 3px;
    margin: 3px;
    opacity: 0.8;
    background-color: #F0F0F0;
  }
</style>

<div id="header" class="hidden" style="color: #F0F0F0;"><h1>Betrayal</h1>
  <p>A RPG game based on <em>Betrayal at the House on the Hill</em>.</p></div>

<div id="game-pane" class="hidden" style="height:640px;">
  <div id="player-pane" style="display:inline-block; vertical-align: top">
    <div id="player-list">
    </div>
  </div>
  <div id="game-stage" style="display:inline-block; vertical-align: top"></div>
  <div id="chatroom" style="display:inline-block; vertical-align: top; height: 100%">
    <div class="messages" style="overflow-y:scroll; height: 100%; background-color: white; opacity: 0.6; padding: 3px">
    </div>
    <div class="chatroom-controls">
      <form id="form-send-message" class="form-inline">
        <input id="ipt-message" class="form-control" name="message" type="text">
        <button id="btn-send-message" class="btn btn-default" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>

<div id="splash-screen" class="center" style="width: 500px;">
  <img src="images/game/splash.png">
</div>

<div id="join-pane" class="center" style="width: 580px">
  <form class="form-inline" style="display: inline-block">
    <input id="ipt-name" type="text" class="form-control" placeholder="player name">
    <select id="select-game" class="form-control"></select>
    <button id="btn-join" type="submit" class="btn btn-primary" disabled="disabled">Join</button>
  </form>
  <form class= "form-inline" style="display: inline-block">
    <input id="ipt-game-name" type="text" class="form-control" placeholder="new game name">
    <button id="btn-create-game" type="submit" class="btn btn-default">Create Game</button>
  </form>
</div>