<h4>Goal</h4>
  <p>You and your friends have been trapped in a haunted house. Unknown to you, one of your friends will turn against you. Your mission is to escape the house before the traitor kills you!</p>
<h4>Controls</h4>
  <ul>
    <li>Use <strong>W</strong>, <strong>A</strong>, <strong>S</strong>, <strong>D</strong> or the <strong>arrow keys</strong> to move.</li>
    <li>Press the <strong>F</strong> key to interact with furniture throughout the house.</li>
    <li>Press the <strong>space bar</strong> to attack using your weapon.</li>
    <li>Press the <strong>/ (slash)</strong> key to chat with other players.</strong></li>
  </ul>
<h4>Items</h4>
  <p>Pick up items by running over them.</p>
  <ul>
    <li><span><img src="images/heart.png" alt="Hearts" title="Hearts"></img></span> <strong>maximum health</strong></li>
    <li><span><img src="images/medkit.png" alt="Health Packs" title="Health Packs"></img></span> <strong>health</strong></li>
    <li><span><img src="images/lightning.png" alt="Lightning" title="Lightning"></img></span> <strong>speed</strong></li>
    <li><span><img src="images/flame.png" alt="Fire balls" title="Fire balls"></img></span> <strong>attack strength</strong></li>
    <li><span><img src="images/jewel.png" alt="Relics" title="Relics"></img></span> when all found, the <strong>haunt</strong> begins!</li>
  </ul>
  Not all items are out in the open. Critical to your survival is discovering hidden items in furniture!
<h4>The Haunt</h4>
<p>When you and your friends discover all the relics, the haunt will begin. One of you will become the <strong>traitor</strong> and the rest of you will become <strong>heroes</strong>.</p>
<p>The goal of the <strong>heroes</strong> is to <strong>find</strong> all the <span><img src="images/key.png" alt="keys" title="Keys"></img></span> and escape the house.</p>
<p>The goal of the <strong>traitor</strong> is to <strong>kill</strong> the heroes before they escape.</p>


