html {
  height: 100%;
}

body {
  background-image: url('../images/spooky-woods.jpg');
  height: 100%
}

.main {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.player-pane {
  height: 100%;
  width: 170px;
  overflow-y: scroll;
  display: inline-block;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.4);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-bottom: 10px;
}

.header-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.splash-screen {
  padding-bottom: 20px;
}

.game-pane {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.game-contained {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.chatroom {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 270px;
}

.chatroom div {
  margin-bottom: 5px;
  width: 100%;
}

.chatroom button {
  width: 100%;
}

.options-sound label {
  width: 50%;
}

.form-spaced {
  margin-left: 7px;
  margin-right: 7px;
}

img {
    height: auto;
    width: auto;
}

img.full_heart {
  content:url("/images/game/full_heart.png");
}

img.empty_heart {
  content:url("/images/game/empty_heart.png");
}

img.small_lightning {
  content:url("/images/game/small_lightning.png");
}

img.small_sword {
  content:url("/images/game/small_sword.png");
}

img.small_flame {
  content:url("/images/game/small_flame.png");
}

img.small_jewel {
  content:url("/images/game/small_jewel.png");
}

img.small_key {
  content:url("/images/game/small_key.png");
}

.player-list-item {
  width: 150px;
  padding: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  background: rgba(255, 255, 255, 1);
}

.my-stats {
  font-weight: bold;
  border: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

