.omni-box {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 10px;
}

.message-input {
  background: black;
  opacity: .5;
  width: 100%;
}

.omni-box input {
  border: none;
  background: transparent;
  width: 100%;
  text-align: center;
  color: white;
}

.omni-box input:focus {
  outline-width: 0;
}
